<h3>Listado de Heroes</h3>

<ul class="mt2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">{{name}}</li>
</ul>

<!--Utilizamos *ngIf="heroNames.length >0" para que el boton no salga cuando la lista no tenga mas elementos y llegue a 0.-->
<button *ngIf="heroNames.length >0" (click)="removeLastHeroe()" class="btn btn-outline-danger">Borrar últmo Heroe</button>

<!--Utilizamos *ngIf="deletedHero, else borrarConTemplate" para que se cumpla la condicion o else para que se cumpla la otra condicion con el ng-template-->
<div *ngIf="deletedHero, else borrarConTemplate">
  <h3 class="text-danger">Heroe borrado = {{deletedHero}}</h3>


</div>
<!--//Nombre del  #borrarConTemplate -->
<ng-template #borrarConTemplate><h3>No se ha borrado nada</h3></ng-template>



